body{
    -webkit-print-color-adjust: exact;
}

input{
    
        border: none;
        background: transparent;
        outline: none;
        /* Adicione outros estilos personalizados, se necessário */
      
}